@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@mixin pick($color) {
    font-weight: bolder;

    &:not(.selected) {
        color: $color
    }

    &.selected {
        background-color: $color;
        color: white;
    }
}

button.pick-green {
    @include pick(rgb(10, 91, 10));
}

button.pick-red {
    @include pick(rgb(162, 11, 11));
}

button.pick-blue {
    @include pick(rgb(11, 11, 219));
}

button.pick-black {
    @include pick(black);
}